__pycache__
.vscode
TempContours
TempImages
Output
ReactPDF
Sessions
images
venv
pdfs
myflaskenv
filtertest.js
MainV11.py
symspelltest.py
request_body_log.txt
request_header_log.txt
houghlinestest.py
verticallineremover.py